@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300italic,300);
@import "css/base.css";
@import "css/shortcodes.css";
@import "css/plugins.css";
@import "css/responsive.css";

/** 1- General & Basic Styles*/
body{
  color: #7b7b7b;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.8;
  overflow-x: hidden;
  background-color: rgba(221, 226, 232, 0.5);
}
a{
  text-transform: capitalize;
  color: #7b7b7b;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
a:hover{
  color: #00ada7;
  text-decoration: none !important;
}
p{
  font-family: 'Lato', Arial, sans-serif;
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 22px;
  font-size: 16px;
  color: #7b7b7b;
  letter-spacing: 0.2px;
  font-weight: normal;
 }
.all_content h1, .all_content h2, .all_content h3, 
.all_content h4, .all_content h5, .all_content h6, 
.all_content .h1, .all_content .h2, .all_content .h3, 
.all_content .h4, .all_content .h5, .all_content .h6{ 
  font-family: 'Lato', Arial, sans-serif; 
  line-height: inherit; 
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}

/*Header*/
.min_top_bar{
	background-color: #343434;
	padding: 5px 0px;
	min-height: 50px;
	position: relative;
  z-index: 10000;
}
.top_bar a{
  color: #ccc;
}
.top_bar a:hover{
  color: #00ada7;
}
.top_bar .social_icon {
	float: right;
  line-height: 35px;
}
.social_icon span{
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.social_icon span a{
	display: block;
	border-radius: 2px;
	background-color: #3B3B3B;
	height: 100%;
}
.social_icon span a:hover{
  color: #fff;
  background-color: #00ada7;
}

/*Top Nav*/
.top_nav{
  float: left;
  line-height: 36px;
}
.top_nav ul{
  margin: 0;
  padding: 0;
}
.top_nav li{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.top_nav li a{
    display: block;
    padding: 0 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 32px;
    border-bottom: 2px solid transparent;
    text-transform: capitalize;
}

/*top search*/
#top_search_ico .top_search {
    position: relative;
    display: inline-block;
    float: right;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 5px;
    border-left: 1px solid;
    border-color: #666;
    z-index: 999;
}
#top_search_ico .top_search form {
    display: inline;
    color: #ccc;
}
#top_search_ico .top_search input:focus {
    width: 150px;
}
#top_search_ico .top_search input {
    border: none;
    font-style: italic;
    width: 60px;
    background: transparent;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.top_search i, #top_search_toggle i{
  color: #ccc;
}
#top_search_toggle form{
  margin: 0;
}
#top_search_toggle{
  display: none;
}

/*main_header*/
.main_header{
  background-color: #f9f9f9;
  border-bottom: 1px solid #e7e7e7;
}

/*logo*/
.logo{
  float: left;
  padding: 10px 0;
}
.logo h3{
  margin: 0;
  line-height: 30px;
  text-transform: uppercase;
}

/*nav_bar*/
#primary_nav_wrap ul{
  list-style:none;
  position:relative;
  float:right;
  margin:0;
  padding:0;
  z-index: 1000;
}
.news_layout #primary_nav_wrap ul{
  float:left;
}
#primary_nav_wrap ul a{
  display:block;
  text-decoration:none;
  font-weight:600;
  font-size:13px;
  padding:23px 15px;
  letter-spacing: 0.5px;
  color: #263241;
  border-bottom: 2px solid transparent;
  text-transform: capitalize;
}
#primary_nav_wrap ul a:hover{
  border-bottom: 2px solid #00ada7;
  color: #00ada7;
}
#primary_nav_wrap ul li{
  position:relative;
  float:left;
  margin:0;
  padding:0;
}
#primary_nav_wrap ul ul{
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  -moz-transform: translate3d(20px, 0, 0);
  -o-transform: translate3d(20px, 0, 0);
  -ms-transform: translate3d(20px, 0, 0);
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#primary_nav_wrap ul ul li{
  float:none;
  width:200px;
}
#primary_nav_wrap ul ul a{
  line-height:120%;
  padding:10px 15px;
}
#primary_nav_wrap ul ul ul{
  top:0;
  left:100%;
}
#primary_nav_wrap ul li:hover > ul{
  visibility: visible;
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar-toggle{
  background-color:#00ada7 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-nav{
  background-color: #CCD1D9;
  margin: 0px -15px !important;
}
.dl-menuwrapper:first-child{
  width: 50%;
}
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoond41d.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Blog Layout*/
.logo_blog_layout img{
  max-width: 200px;
}
/*News Layout*/
.news_layout .nav_bar{
  float: left;
}
.logo_ads{
  margin: 20px 0;
}
.ads_block{
  text-align: right;
}
.news_layout .all_nav{
  border-top: 1px solid #e7e7e7;
}
.news_layout .hz_content p, .list_layout .hz_content p{
  font-size: 13px;
}
.news_layout .main_content{
  margin-top: 0;
}
/*main_content*/
.main_content{
  margin-top: 40px;
}
/* Featured Area
/********************/
#big-slid-post{
    display: none;
    margin: 0;
    padding: 0;
}
#big-slid-post li, .post_silder li{
  list-style: none;
  margin: 0;
}
.post_silder img{
  width: 100%;
}
.featured-area {
    margin-bottom:60px;
}

.feat-item {
    position:relative;
    height:270px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:block;
    width:100%;
}
.feat-item .post-header {
    position: absolute; 
    bottom: 0; 
    padding: 24px; 
    transition: all .5s ease-in-out;
}
.feat-item .post-header span a{
    color: #00ada7;
}
.feat-item .post-header .date {
    display:block;
    margin-bottom:28px;
}
.feat-item .post-header h2 {
    margin-bottom:14px;
}
.feat-item .post-header h2 a {
    font-size:24px; 
}

.feat-item .read-more:hover {
    background:#C69F73;
    color:#fff;
}
.latest-cover{
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
}

.all_content .big_silder .owl-prev, .slider_post .owl-prev, 
.slid_widget .owl-prev, #featured_post .owl-prev, #featured_cat_post .owl-prev{
position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  z-index: 9999;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  opacity: 0;
  left: -30px;
  background: url(img/arr.png) no-repeat 0 0;
}

.all_content .big_silder .owl-next, .slider_post .owl-next, 
.slid_widget .owl-next, #featured_post .owl-next, #featured_cat_post .owl-next{
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  z-index: 9999;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  opacity: 0;
  right: -30px;
  background: url(img/arr.png) no-repeat -30px 0;
}
#big-slid-post:hover .owl-prev, .slider_post:hover .owl-prev, 
.slid_widget:hover .owl-prev, #featured_post:hover .owl-prev, #featured_cat_post:hover .owl-prev{
    opacity: 9;
    left: 30px;
}
#big-slid-post:hover .owl-next, .owl-next:hover .owl-next, 
.slid_widget:hover .owl-next, #featured_post:hover .owl-next, #featured_cat_post:hover .owl-next{
    opacity: 9;
    right: 30px;
}

.post_silder:hover .owl-prev{
    opacity: 9;
    left: 30px;
}
.post_silder:hover .owl-next{
    opacity: 9;
    right: 30px;
}
.big_silder .owl-item{
 overflow: hidden;
}
.widget_slider_dribbble .bx-wrapper .bx-prev{
position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  z-index: 9999;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  opacity: 0;
  left: -30px;
  background: url(img/arr.png) no-repeat 0 0;
}

.widget_slider_dribbble .bx-wrapper .bx-next{
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  z-index: 9999;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  opacity: 0;
  right: -30px;
  background: url(img/arr.png) no-repeat -30px 0;
}

.widget_slider_dribbble .bx-wrapper:hover .bx-prev{
  opacity: 1;
  left: 20px;
}
.widget_slider_dribbble .bx-wrapper:hover .bx-next{
  opacity: 1;
  right: 20px;
}



.owl-pagination{
  display: none;
}
.feat-item .big-latest-content{
  margin-bottom: 10px;
  display: inline-block;
}
.feat-item .big-latest-content p{
  line-height: 25px;
  font-size: 14px;
  color: #d9d9d9;
  text-shadow: 0 1px 0 #000;
  font-weight: 400;
  margin-bottom: 10px;
}
.a-post-box .feat-item .latest-title{
  text-transform: capitalize;
}
.a-post-box .latest-txt{
  position: absolute;
  text-transform: capitalize;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 30px 30px;
  text-align: left;
}
/* # PostBox
================================================== */
.a-post-box {
  margin-bottom: 20px; 
  margin-left: 20px; 
  position:relative;
}
.a-post-box:last-child{
  margin-bottom: 0px; 
}
.a-post-box .latest-txt { 
  position: absolute; 
  bottom: 0; 
  padding: 30px; 
  background-color: rgba(36, 36, 36, 0.2);
}
.a-post-box .latest-title { 
    margin-bottom: 16px; 
    font-weight: 600; 
    line-height: 1.2;
}
.latest-txt h3{
  margin: 10px 0px;
}
.a-post-box .latest-title a { 
    color:#fff;
}
.a-post-box .latest-title a:hover { 
    color:#00ada7;
}

.a-post-box .latest-cat a{
    display: inline-block;
    margin: 0px 5px 0px 0px;
    padding: 1px 4px;
    color: #FFF;
    background-color: #00ada7;
    font-size: 11px;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.4s ease 0s;
}
.a-post-box .latest-cat a:hover {
    background-color:#263241;
    color:#fff;
}

.a-post-box .latest-meta {  
    font-size: 13px; 
    color: #fff; 
    margin:10px 0 0 10px;
}
.a-post-box .latest-meta span { 
    margin-right: 10px;
}
.a-post-box .latest-meta .latest-date { 
    font-size:13px; 
    font-weight:600; 
    color:#f3f3f3;
}
.a-post-box .latest-content { 
    color: #fff; 
    margin-top: 30px;
}
.a-post-box .latest-img img { 
    vertical-align:middle;
    width: 100%;
}
.a-post-box .latest-overlay  { 
    height: 100%; 
    position: absolute; 
    width: 100%; 
    bottom: 0;
}
.a-post-box .latest-overlay:hover{
  background-color: rgba(36, 36, 36, 0.5); 
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.container.a-post-box { 
    margin: 0 -10px;
}
.vc_col-sm-4 .a-post-box .latest-author, 
.vc_col-sm-4 .a-post-box .latest-views, 
.vc_col-sm-4 .a-post-box .latest-comments { 
    display:none;
}
.vc_col-sm-4 .a-post-box .latest-title, 
.wpb_column .wpb_column .a-post-box .latest-title  { 
    font-size: 18px;
}
.vc_col-sm-3 .a-post-box .latest-title { 
    font-size: 15px; 
    letter-spacing:-0.5px;
}
.vc_col-sm-3 .a-post-box .latest-txt { 
    padding:20px;
}
.vc_col-sm-3 .a-post-box .a-post-box .latest-meta { 
    margin-left:10px;
}
.vc_col-sm-6 .a-post-box .latest-img, 
.vc_col-lg-6 .a-post-box .latest-img { 
    border-bottom:1px solid #575757;
}
.vc_col-sm-6 .wpb_row.vc_row-fluid .wpb_column .a-post-box .latest-img, 
.vc_col-lg-6 .wpb_row.vc_row-fluid .wpb_column .a-post-box .latest-img { 
    border-bottom:none;
}
@media only screen and (max-width: 480px) {
    .a-post-box .latest-txt { 
        padding:20px;
    }
    .a-post-box .latest-title { 
        font-size: 20px;
    }
    .a-post-box .latest-meta { 
        display:block;
    }
}
.latest-img .thumbnail{
    padding: 0;
    margin: 0;
    width: 100%;
}
.feat-item .latest-overlay  { 
    height: 100%;
    background-color: rgba(36, 36, 36, 0.4);
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#big-slid-post .feat-item img{
    display: block;
    width: 100%;
    height: auto;
}
.slider_and_box  {
  padding: 50px 0;
  background-color: #343434;
}
.mian_slider .hz_admin_pic{
  width: 40px;
  float: left;
  margin-right: 10px;
}
.mian_slider .hz_admin_pic img{
  border-radius: 100%;
}

.mian_slider .latest-meta{
  float: right;
}
.mian_slider .latest-cat{
  top: 0;
}
.mian_slider .hz_post_by{
  margin-top: 10px;
  display: inline-block;
}
.mian_slider span{
  margin-right: 10px;
}
.mian_slider a{
  color: #B7B7B7;
}
.mian_slider .latest-txt a{
  color: #f3f3f3;
}
.mian_slider span i{
  margin-right: 5px;
  color: #CCD1D9;
}
.post_box .a-post-box .latest-meta{
  margin: 0;
}
.post_box .a-post-box figure{
  overflow: hidden;
  max-height: 270px;
}


/*Breaking News*/
.breaking_news{
  width: 100%;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  background-color: #fff;
}
.breaking_news .bn_title h2{
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  line-height: 39px;
  font-size: 20px;
  color: #FFF;
  height: 40px;
  box-sizing: border-box;
}
.breaking_news .bn_title span{
  width: 0;
  position: absolute;
  right: -10px;
  top: 10px;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-left-color: #00ada7;
  border-color: transparent transparent transparent #00ada7; 
}
.breaking_news .bn_title {
  background-color: #00ada7;
  width: auto;
  height: 40px;
  display: inline-block;
  position: relative;
}
.breaking_news_slider{
  display: none;
}
.breaking_news .breaking_news_slider a{
  text-decoration: none;
  color: #333;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
}
.breaking_news .breaking_news_slider a span{
  color: #00ada7;
}
.breaking_news ul{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 175px;
  top: -32px;
  right: 40px;
  height: 40px;
  font-size: 16px;
}
.breaking_news .bx-wrapper{
  top: -35px;
}


/*Featured Boxs Posts*/
.featured_slider{
  margin: 30px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background-color: #FFF;
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
}
#featured_post .item img{
  display: block;
  width: 100%;
  height: auto;
}
.featured_title h4{
  margin: 0px;
  line-height: initial;
  display: inline-block;
}
.featured_title{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(221, 226, 232, 0.5);
  margin-bottom: 20px;
  position: relative;
}
.featured_title_post{
  position: absolute;
  padding: 10px 20px;
  bottom: 0;
  background: rgba(34,34,38,.4);
}
.featured_title_post h4{
  margin: 0;
  padding: 0;
}
.featured_slider .item{
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
}
.post_date{
  display: inline-block;
  margin-right: 10px;
}
.caption_inner a{
  color: #fff
}
.caption_inner .latest-cat a{
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 1px 4px;
  color: #FFF;
  background-color: #00ada7;
  font-size: 11px;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
}
.caption_inner .latest-cat a:hover {
  background-color: #263241;
  opacity: 1;
  color: #fff;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}
.view_button{
  float: right;
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 1px 4px;
  color: #FFF;
  background-color: #00ada7;
  font-size: 11px;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
}
.view_button:hover{
  background-color: #263241;
  color: #fff;
}

/*blocks Posts*/
.block_posts{
  text-transform: capitalize;
  margin: 0px 0 30px 0 ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background-color: #FFF;
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
}
.block_posts .small_post_content a:hover, .featured_cat_slider a:hover{
  color: #00ada7;
}
.block_posts .small_post_content a{
  color: #263241;
}
.block_posts h4, .block_posts h4 a{
  color: #263241;
}
.block_inner img{
  max-width: 100%;
  height: auto;
}
.featured_posts_slider .img_post{
  overflow: hidden;
  max-height: 180px;
}
.block_img_post, .img_small_post, .widget_post_thumbnail, .img_post{
  background-color: #222;
}
.block_inner img:hover, .widget_post_thumbnail img:hover, .featured_posts_slider img:hover{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
}
.block_inner .img_small_post{
  width: 100px;
  height: auto;
  float:left;
  margin-right: 20px;
}
.small_list_post ul{
  margin: 0;
  padding: 0;
}
.block_inner .small_list_post li{
  list-style: none;
  border-bottom: 1px solid rgba(221, 226, 232, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.block_inner .small_list_post li:last-child{
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.small_list_post h5{
  margin: 0px;
}
.featured_cat_slider .img_post {
  overflow: hidden;
  max-height: 180px;
}
.featured_cat_slider .item img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 160px;
}
.featured_cat_slider a{
  color: #fff;
}
.block_posts .featured_cat_slider h4{
  color: #fff;
}

/*block_4*/
.block_4 .title_post h4{
  margin: 10px 0px;
}
.block_4 .small_list_post{
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(221, 226, 232, 0.5);
}

/*block_5*/
.block_5 .block_inner{
  display: inline-block;
  width: 100%;
}

.block_5 .a-post-box:nth-last-child(3n+0){
  margin-left: 0px;
}
.block_5 .a-post-box{
  margin-bottom: 5px;
  width: 32.8%;
  float: left;
  margin-right: 0;
  margin-left: 5px;
  padding: 0;
}
.block_5 .a-post-box figure{
  overflow: hidden;
  max-height: 158px;
}
.block_5 .a-post-box .latest-title{
  margin: 0;
}
.block_5 .latest-txt{
  padding: 15px;
}
.block_5 .latest-cat{
  margin-bottom: 7px;
  display: inline-block;
}

/*Block_6*/
.block_6 .list_thum {
  line-height: 0;
  position: relative;
  overflow: hidden;
  width: 300px;
  float: left;
  background-color: #000;
}
.block_hz_post{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(221, 226, 232, 0.5);
}
.block_hz_post:last-child{
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.block_6 .list_content {
  display: table-cell;
}
.block_6 .block_hz_top_post{
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 20px;
}
.block_hz_main_post_content{
  padding: 0 0px 0px 20px;
  display: inline-block;
}
.block_hz_main_post_content p{
  margin: 17px 0;
}
.block_hz_title_and_meta h4{
  margin-top: 0;
}





/*News Layout Full Width
******************************************************/
.news_layout_full_width .mian_slider span.latest-cat{
  margin: 0;
  position: relative;
  display: inline-block;
}
.news_layout_full_width .mian_slider .a-post-box .latest-cat a{
  margin: 0;
}
.slide_info_outer {
  width: 100%;
  height: 100%;
}
.slide_info {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.slider_header {
  font-size: 30px;
  line-height: 30px;
}
.slide_text {
    background: rgba(255,255,255,0.8);
    max-width: 600px;
    padding: 35px 80px 35px 80px;
    text-align: center;
}
.slide_text h3{
  margin: 10px 0 0 0;
}
.slider_caption {
  line-height: 24px;
  padding-top: 20px;
}
.slider_button {
  font-size: 11px;
  padding-bottom: 10px;
  padding-top: 20px;
  line-height: 30px;
}
.slider_button a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.slide_info_inner {
  display: table-cell;
  vertical-align: middle;
}
.news_layout_full_width .mian_slider .slider_header a, .news_layout_full_width .mian_slider p{
  color: #263241;
}
.news_layout_full_width .mian_slider p{
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.slider_button a{
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #00ada7;
  color: #fff;
  padding: 9px 9px 10px;
  border-radius: 2px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.slider_button a:hover {
  background-color: #263241;
}



/*Ads*/
.ads_in_block{
  margin-bottom: 30px;
  text-align: center;
}
/*posts_sidebar*/
.posts_sidebar{
  margin-top: 30px;
}

/*article*/
.posts_areaa article.hz_post, .archive_areaa article.hz_post{
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.inner_single .post_wrapper, .main_page{
  background-color: #fff;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 0 5px 0 #e2e3e4;
  -moz-box-shadow: 0 0 5px 0 #e2e3e4;
  box-shadow: 0 0 5px 0 #e2e3e4;
  display: inline-block;
}
.hz_content p, .about_content, .hz_content{
  font-size: 15px;
  font-weight: normal;
  line-height: 170%;
}
article.hz_post .hz_thumb_post{
  height: auto;
  max-height: 600px;
  text-align: center;
  overflow: hidden;
  background-color: #000;
}
article.hz_post .link_post .hz_thumb_post, 
article.hz_post .quote_post .hz_thumb_post {
  background-color: rgba(0, 0, 0, 0.51);
}
article.hz_post .hz_thumb_post img{
  width: 100%;
}
article.hz_post .quote_post .hz_thumb_post, article.hz_post .link_post .hz_thumb_post{
  display: inherit;
}
.hz_top_post{
    display: inline-block;
    width: 100%;
    position: relative;
    margin: -50px 0 0px 0px;
    padding: 0 30px;
}
.hz_top_post .hz_admin_pic{
  float: left;
  width: 70px;
  margin-right: 20px;
}
.hz_top_post .hz_admin_pic img{
  width: 100%;
  border-radius: 2px;
}
.hz_top_post .hz_title_and_meta h3{
  margin: 0;
  padding: 0;
  color: #263241;
  line-height: 35px;
}
.hz_top_post .hz_title_and_meta h3:hover{
  color: #00ada7;
}
.hz_top_post .hz_title a{
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.hz_meta_post{
  margin-top: 10px;
}
.hz_meta_post span{
  margin-right: 10px;
  color: #CCD1D9;
}
.hz_meta_post a{
  color: #CCD1D9;
  font-size: 13px;
  font-weight: 400;
}
.hz_meta_post a:hover{
  color: #00ada7;
}
.hz_meta_post span i{
  margin-right: 5px;
  color: #CCD1D9;
}
.hz_main_post_content{
  padding: 30px;
  display: inline-block;
}
.hz_post .hz_main_post_content .hz_content{
  margin: 0px 0 30px 0px;
}
.hz_post .hz_bottom_post{
  border-top: 1px solid #ecedee;
  padding-top: 30px; 
}
.hz_bottom_post .hz_read_more{
  float: left;
}
.hz_bottom_post .hz_icon_shere{
  float: right;
  margin-top: -3px;
}

.hz_bottom_post .hz_icon_shere .hz_share span{
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	margin-right: 3px;
	margin-bottom: 0px;
}
.hz_bottom_post .hz_icon_shere .hz_share span a{
	display: block;
	border-radius: 2px;
	background-color: #CCD1D9;
	height: 100%;
  color: #fff;
}
.hz_bottom_post .hz_icon_shere .hz_share span a:hover{
  background-color:#00ada7;
  color: #fff;
  text-decoration:none
}

.hz_bottom_post .hz_icon_shere .share_toggle{
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  margin-right: 3px;
  margin-bottom: 0px;
  float: right;
  background-color: #CCD1D9;
  border-radius: 2px;
}
.hz_bottom_post .hz_icon_shere .share_toggle i{
  display: block;
  height: 100%;
  line-height: 26px;
  color: #fff;

}
.hz_bottom_post .hz_icon_shere .share_toggle:hover{
  background-color:#00ada7;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hz_bottom_post .hz_icon_shere  .hz_share {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin-right: 8px;
}
.hz_bottom_post .hz_icon_shere  .hz_share.share_active {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
  opacity: 1;
  visibility: visible;
}
.hz_read_more a{
  font-size: 10px !important;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #00ada7;
  color: #fff;
  padding: 6px 8px 7px;
  display: inline-block;
  border-radius: 2px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.hz_read_more a:hover{
  background-color: #263241;
  color: #fff;
}
.hz_title_and_meta{
    background-color: #fff;
    padding: 20px 20px 0 20px;
}

/* ---- Grid Layout ---- */
.col-md-12 .grid_post  {
  float: left;
  width: 32%;
}
.col-md-8 .grid_post {
    float: left;
    width: 48.5%;
}
.main_grid_layout .pager{
  margin-top: 0;
}
.pagination_post .pager{
  margin: 45px 0 45px 0;
}

.main_grid_layout .hz_title_and_meta{
  background-color: inherit; 
  padding: 0;
}
.main_grid_layout .hz_top_post{
  margin: 30px 0 0px 0px;
}
.main_grid_layout .hz_top_post:before{
  content: "";
  background: none;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  position: absolute;
  left: 50px;
  top: -39px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}
.main_grid_layout .video_post .hz_top_post:before, .main_grid_layout .audio_post .hz_top_post:before{
  top: -9px;
}
.main_grid_layout .hz_top_post .hz_title_and_meta h4{
  margin: 0;
  padding: 0;
}
.main_grid_layout .link_post .hz_thumb_post{
  padding: 30px;
}
.main_grid_layout .video_post .embed-responsive-16by9{
  padding-bottom: 55%;
}

/*List Layout*/
.list_layout .list_thum{
  display: table-cell;
  vertical-align: middle;
  line-height: 0;
  position: relative;
  overflow: hidden;
  width: 360px;
  background-color: #000;
}
.list_layout .list_content{
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.list_layout .hz_top_post{
  margin: 0;
  padding: 0;
}
.list_layout .hz_main_post_content{
  padding: 0;
}

.list_layout .hz_post .hz_main_post_content .hz_content{
  margin: 15px 0;
}
.list_layout .hz_post .hz_bottom_post{
  border: none;
  padding: 0;
}
.list_layout .hz_title h4 {
  margin: 0;
}
.list_layout .audio_post .embed-responsive-16by9{
  padding-bottom: 70%;
}
.list_layout .hz_title_and_meta {
    background-color: inherit;
    padding: 0;
}
.hz_thumb_post .cat_list_post{
  position: absolute;
  padding: 20px;
  z-index: 999999999;
}
.hz_thumb_post .hz_cat_post a{
  margin: 0 5px 0 0;
  padding: 1px 4px;
  color: #fff;
  background-color: #00ada7;
  font-size: 11px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.hz_thumb_post .hz_cat_post a:hover {
  background-color: #263241;
  opacity: 1;
  color: #fff;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}
.hz_post .hz_thumb_post img {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.hz_post .hz_thumb_post img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}

/*slider_post*/
ul#post-slid-post{
  margin: 0;
}

/* gallery post - tiled gallery */
.gallery_post .gallery_tiled {
  text-align: left;
}
.gallery_post .gallery_tiled ul {
  padding: 0;
  margin: 0;
}
.gallery_post .gallery_tiled ul li {
  list-style: none;
  float: left;
  width: 33.3333333333333333%;
  height: 25%;
  position: relative;
  margin-bottom: 0;
}
.gallery_post .gallery_tiled ul li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
.gallery_post .gallery_tiled ul li a .overlay:before {
  content: '\f00e';
  font-family: Fontawesome;
  position: absolute;
  font-size: 14px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  color: #303030;
  text-align: center;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gallery_post .gallery_tiled ul li a:hover .overlay {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

.gallery_post .image_link{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  text-align: center;
  overflow: hidden;
  display: block;
}

/*link_post*/
.link_post .hz_thumb_post{
  background-color: #00ada7;
  padding: 50px;
}
.link_post .hz_thumb_post .link_title a{
  color: #fff;
  text-transform: capitalize;
}

/*audio_post*/
.audio_post .embed-responsive-16by9{
  padding-bottom: 35%;
  margin: 0px;
}


/*lightbox_post*/
.lightbox_post .image_link{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  text-align: center;
  overflow: hidden;
  display: block;
}
.lightbox_post .hz_thumb_post{
  position: relative;
}
.hz_post .quote_post .hz_thumb_post i, .hz_post .link_post .hz_thumb_post i{
  margin:-30px 20px 0 0;
}
.hz_post .hz_thumb_post i{
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 19px;
  background-color: #00ada7;
  color: #fff;
  position: absolute;
  right: 0;
  margin: 20px 20px 0 0;
  z-index: 99999999;
  opacity: 0;
}
.hz_post:hover .hz_thumb_post i {
  background-color: #263241;
  opacity: 1;
  color: #fff;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}

.lightbox_post .hz_thumb_post a .overlay, .portfolio_post .portfolio_item a .overlay, .block_hz_post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
.lightbox_post .hz_thumb_post a .overlay:before, .portfolio_post .portfolio_item a .overlay:before, .block_hz_post .overlay:before {
  content: '\f00e';
  font-family: Fontawesome;
  position: absolute;
  font-size: 14px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  color: #303030;
  text-align: center;
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.lightbox_post .hz_thumb_post a:hover .overlay, .portfolio_post .portfolio_item a:hover .overlay, .block_hz_post .overlay:hover  {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}


/*quote_post*/
.quote_post .hz_thumb_post{
  background-color: #00ada7;
  padding: 50px;
}
.quote_title, .link_title{
  text-align: left;
}
.quote_post .hz_thumb_post .quote_title a{
  color: #fff;
  display: inline-block;
  text-transform: capitalize;
}
.link_post .overflo, .quote_post .overflo{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*video post*/
.video_post .hz_top_post, .audio_post .hz_top_post{
  margin: 0px;
}
.video_post .hz_title_and_meta, .audio_post .hz_title_and_meta{
  background-color: transparent;
  padding: 20px 20px 0 0px;
}

/*SINGLE POST*/
.hz_tags{
  float: left;
}
.hz_tags span a{
  padding:4px;
  background-color: #CCD1D9;
  color: #fff;
  text-transform: capitalize;
  border-radius: 2px;
}
.hz_tags span a:hover{
  background-color:#00ada7;
  color: #fff;
}

/*user info post*/
.user_info_post{
  background-color: #fff;
  padding: 20px;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 30px;
}
.user_info_post .user_pic{
  margin-right: 20px;
  height: auto;
  float: left;
}
.user_info_post .user_pic img{
  border-radius: 2px;
  width: 140px;
}
.user_info_post .min_user_info h4{
  margin-top: 0px;
  font-size: 16px;
}
.user_info_post .min_user_info p{
  font-size: 13px;
  line-height: inherit;
}
.user_info_post .social_icon{
  text-align: right;
  float: none;
}
.user_info_post .social_icon span a{
  background-color: #CCD1D9;
  color: #fff;
}
.user_info_post .social_icon span a:hover{
  background-color:#00ada7;
  color: #fff;
}
.personal_info label{
  color: #555;
}

/*single related posts*/
.single_related_posts, .conmments_block, #respond{
  padding: 20px;
  background-color: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 5px 0 #e2e3e4;
  -moz-box-shadow: 0 0 5px 0 #e2e3e4;
  box-shadow: 0 0 5px 0 #e2e3e4;
}
.post_title h4{
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  color: #263241;
}
.post_title{
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding: 0 0 10px 0;
  margin: 0px 0px 20px;
  border-bottom: 2px solid #ecedee;
}
#post_related_block{
  display: none;
  margin-bottom: 0;
}
#post_related_block .item{
  margin: 3px;
  list-style: none;
}
#post_related_block .item img{
  display: block;
  width: 100%;
  height: auto;
}
#post_related_block h5{
  margin-bottom: 0;
}
#post_related_block a{
 color: #263241;
}
#post_related_block .owl-buttons{
  display: none;
}

/*Comment List*/
.commentlist li {
  list-style: none;
}
.commentlist li.comment,.commentlist li.comment ul.children li.comment {
  border-bottom: 1px solid #ecedee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.commentlist li.comment li.comment,.commentlist > li.comment:last-child,.commentlist > li.comment:last-child .comment-body,.commentlist li.comment ul.children li.comment:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.commentlist li.comment .comment-body {
  margin-bottom: 20px;
}
.commentlist li.comment .comment-body p {
  margin-bottom: 0;
}
.commentlist ul.children {
  padding-left: 100px;
  margin-top: 20px;
  border-top: 1px solid #ecedee;
  padding-top: 20px;
}
.commentlist li.comment .comment-body .avatar {
  height: 70px;
  width: 70px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.commentlist .comment-body .avatar img{
  width: 100%;
}
.commentlist li.comment .comment-body .comment-text {
  overflow: hidden;
  height: 100%;
}
.commentlist li.comment .comment-body .comment-text .author {
  margin-bottom: 10px;
}
.commentlist li.comment .comment-body .comment-text .author span {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.commentlist li.comment .comment-body .comment-text .author div.date {
  text-transform: uppercase;
  font-style: italic;
}
.comment-meta {
  float: left;
}
.comment-reply.button, .comment-edit-link, .comment-reply-link {
  float: right;
  font-size: 12px;
  padding: 7px;
  margin-left: 10px;
  line-height: normal;
  height: auto;
  display: block;
  background-color: #00ada7;
  color: #fff;
}
.comment-reply.button:hover{
  background-color: #263241;
}
.cancel-comment-reply a {
  margin-bottom: 20px;
}
.comment-form .form-input {
  position: relative;
}
.comment-form .form-input i {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 15px;
  z-index: 1;
  color: #7b7b7b;
}
.contact-form .form-input i {
  top: 35px;
}
.comment-form .form-input input,.comment-form .form-input textarea {
  padding-left: 30px;
  margin-bottom: 20px;
  width: 45%;
}
.comment-form .form-input textarea {
  height: 160px;
  width: 100%;
  line-height: 22px;
}

.comment-form{
  margin: 0 30px;
}

/*Comment Respond*/
#respond .reply-title {
  margin-bottom: 16px;
}
#respond .reply-title h4 {
  margin: 0;
}
#respond .form-item {
  margin: 15px 0;
}
#respond .form-item textarea {
  width: 100%;
  height: 120px;
}
#respond .form-item input {
  width: 100%;
}
#respond .form-actions {
  margin: 15px 0;
}
#respond .form-actions .awe-btn {
  width: 100%;
}
#respond form{
  margin-bottom: 0;
}
#respond{
  display: block;
}
#respond .comment-form{
  margin: 0;
}


/*Sidebar*/
.inner_sidebar, .inner_footer{
  margin-left: 20px;
  padding: 0 10px;
}
.layout_left_sidebar .inner_sidebar{
  margin-right: 20px;
  margin-left: 0px;
}

.layout_right_side .inner_sidebar{
  margin-left: 20px;
  margin-right: 0px;
}

.layout_left_side .inner_sidebar{
  margin-right: 20px;
  margin-left: 0px;
}

.inner_sidebar .widget{
  color: #c1c0c0;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-bottom: 2px solid rgba(221, 226, 232, 0.5);
}
.widget h4{
  padding: 0 0 10px 0;
  margin: 0px 0px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: #555;
}
.widget .widget_title {
  color: #263241;
}
.widget_title:after{
  content: '';
  width: 50px;
  height: 1px;
  background-color: #00ada7;
  margin-top: 5px;
  display: block;
}
#footer .widget .widget_title{
  color: #fff;
}
.inner_sidebar .widget a:hover, .inner_footer .widget a:hover{
  color: #00ada7;
}

/***************widget************/
.widget li {
  list-style: none;
  border-bottom: 1px solid rgba(221, 226, 232, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100%;
  text-transform: capitalize;
}
.widget ul, .widget ol{
  margin: 0;
  padding: 0;
}
.widget li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.widget .widget_categories li span {
  margin-left: 10px;
}
.widget_categories li i, .widget_archive li i {
  float: right;
  margin-left: 10px;
  font-size: 13px;
  line-height: 20px;
}

/*tagcloud*/
.widget .tagcloud a{
  font-size:10px !important;
  font-weight: 600;
  letter-spacing:1px;
  text-transform:uppercase;
  background:rgba(221, 226, 232, 0.5);
  color:#263241;
  padding:6px 8px 7px;
  margin-right:5px;
  margin-bottom:8px;
  display:inline-block;
  border-radius:2px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}
.widget .tagcloud a:hover{
  background-color:#00ada7;
  color: #fff !important;
}
/*widget newsletter*/
.widget_newsletter form{
  margin-bottom: 0;
}
.widget_newsletter input{
  margin-bottom: 20px;
}
.widget_newsletter button span, .widget_newsletter button i{
  color: #fff;
  text-transform: capitalize;
}
/*Search*/
.widget_search form{
  margin: 0;
}
.widget_search input{
  width: 100%;
  margin-bottom: 20px;
}
.widget_search input:last-child{
  margin-bottom: 0;
}
.widget_search .button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: #00ada7;
  border-radius: 2px;
  border: none;
  color: #fff;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}
.widget_search .button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
  background-color: #263241;
}

/*widget_advertisement*/
.ads_wid{
  text-align: center;
}
.ads_w img{
  width: 100%;
}
/* start calendar widget */
.widget_calendar table {
    width: 100%;    
}

.widget_calendar {
    width: 100%;
}
.widget_calendar a{
  color: #00ada7;
}

.widget_calendar {float: left;}
#wp-calendar {width: 100%; }

#wp-calendar thead { font-size: 10px; }

#wp-calendar thead th { 
    padding: 6px 0;
    background-color: #EDEDED;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #ecedee;
}
#wp-calendar thead th:last-child {
    border-right: 0;
}
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { 
    background-color: #f5f5f5;
    border-right: 2px solid #fff;
    text-align: center;
    padding: 7px;
    font-weight: 300;
    color: #888;
}
#wp-calendar tbody td:last-child {
    border-right: 0;
}
#wp-calendar tbody td:hover { background-color: #fff; }
#wp-calendar tbody td.pad { border-color: transparent; }
#wp-calendar tbody tr:first-child td.pad { border-right: 2px solid #fff; }
#wp-calendar tbody td.pad:hover { background-color: transparent; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

#wp-calendar tbody td a {
    font-weight: 600;
}
.widget_container caption {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 12px;
    background-color: #26BDEF;
    padding: 2px 12px;
    color: #fff;
}

.site_footer.dark_footer #wp-calendar thead th {
    background-color: #303030;
    border-bottom-color: #444;
    border-right-color: #111;
    color: #A9A9A9;
}

.site_footer.dark_footer #wp-calendar tbody td{
    background-color: #222;
    border-right-color: #111;
}

.site_footer.dark_footer #wp-calendar tbody td.pad { background-color: transparent; }

.site_footer.dark_footer #wp-calendar tbody tr:first-child td.pad { border-right: 2px solid #111; }





/*widget recent post*/
.widget_recent_post .widget_post_thumbnail{
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
  overflow: hidden;
}
.widget_recent_post .widget_post_thumbnail img{
  width: 100%;
  height: 100%;
}

.widget_recent_post h5{
  margin: 0;
}
.widget_post_info .post_meta{
  margin-top: 10px;
  font-size: 12px;
}
.widget_post_info .post_meta span{
  margin-right: 10px;
}

/*widget recent comments*/

.widget_recent_comments .widget_post_thumbnail{
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
  overflow: hidden;
}
.widget_recent_comments .comment-author a{
  color: #BCC2CE;
}
#footer .widget_recent_comments .comment-author a{
  color: #fff;
}
.widget_recent_comments .comment-c{
  display: block;
  font-weight: 600;
}

/*widget text*/
.logo_widget{
  margin: 20px 0;
}
.widget_text .textwidget{
  overflow: hidden;
}
.widget_social_icon{
  margin-top: 20px;
  text-align: center;
}
.widget_social_icon span{
  padding: 5px;
}


/*Flickr Badge Image*/
.hamzh_flickr{
  display: inline-block;
}
.widget .flickr_badge_image{
  float: left;
  width: 75px;
  background-color: #000;
}
.widget .flickr_badge_image:nth-child(4n+0){
  margin-right: 0px;
}
.widget .flickr_badge_image img {
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .flickr_badge_image img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}


/*Slid Widget*/
.slid_widget_dribbble li{
  margin: 0px;
  padding: 0px;
}
.slid_widget_dribbble img{
  width: 100%;
}

/*Widget About Me*/
.widget_about_me{
  text-align: center;
}
.widget_about_me .my_pic img{
  width: 100%;
}
.widget_about_me .my_name h4{
  margin: 20px 0 10px;
  border: none;
  padding: 0px;
  font-size: 20px;
}
.widget_about_me .my_words p{
  margin: 10px 0 20px;
}
.widget_about_me .social_icon a{
  display: block;
  border-radius: 2px;
  background-color: #CCD1D9;
  height: 100%;
  color: #fff;
}
.widget_about_me .social_icon a:hover{
  color: #fff !important;
}
/*widget twitter*/
.widget.widget_twitter li a{
    color: #40bff5;
}




/*Social Counter*/
.widget_social_counter {
    margin-bottom: -15px;
}
.widget_social_counter .social_counter_count {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2em;
    color: #333333;
    margin-top: 5px;
}

.social_counter {
    width: 47%;
    margin-right: 3%;
    min-width: 135px;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
}

.social_counter_icon {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #EEEEEE;
    color: #333333;
    text-align: center;
    margin-right: 18px;
}
.social_counter_icon i {
    line-height: 50px;
    font-size: 18px;
}

.social_counter_count,
.social_counter_count,
.social_counter_icon {
    -webkit-transition: all 0.25s;
       -moz-transition: all 0.25s;
            transition: all 0.25s;
}

.social_counter_twitter .social_counter_icon {
    background-color: #55ACEE;
    color: #FFFFFF;
}
.social_counter_twitter:hover .social_counter_icon {
    background-color: #88C4F3;
}
.social_counter_twitter:hover .social_counter_count {
    color: #55ACEE;
}

.social_counter_facebook .social_counter_icon {
    background-color: #3D62B3;
    color: #FFFFFF;
}
.social_counter_facebook:hover .social_counter_icon {
    background-color: #7791C9;
}
.social_counter_facebook:hover .social_counter_count {
    color: #3D62B3;
}

.social_counter_instagram .social_counter_icon {
    background-color: #2D6B94;
    color: #FFFFFF;
}
.social_counter_instagram:hover .social_counter_icon {
    background-color: #6C97B4;
}
.social_counter_instagram:hover .social_counter_count {
    color: #2D6B94;
}

.social_counter_youtube .social_counter_icon {
    background-color: #CC181E;
    color: #FFFFFF;
}
.social_counter_youtube:hover .social_counter_icon {
    background-color: #DB5D61;
}
.social_counter_youtube:hover .social_counter_count {
    color: #CC181E;
}

.social_counter_googleplus .social_counter_icon {
    background-color: #D34836;
    color: #FFFFFF;
}
.social_counter_googleplus:hover .social_counter_icon {
    background-color: #E07E72;
}
.social_counter_googleplus:hover .social_counter_count {
    color: #D34836;
}

.social_counter_soundcloud .social_counter_icon {
    background-color: #1BB6EC;
    color: #FFFFFF;
}
.social_counter_soundcloud:hover .social_counter_icon {
    background-color: #5FCBF1;
}
.social_counter_soundcloud:hover .social_counter_count {
    color: #1BB6EC;
}
.social_counter_counter {
    float: left;
    display: inline-block;
}
.social_counter_unit {
    margin-top: 2px;
    font-size: 12px;
    font-style: italic;
    line-height: 1em;
    color: #999999;
}

/*login*/
.widget_login form{
  margin: 0;
}
.widget_login input{
  width: 100%;
  margin-bottom: 20px;
}
.widget_login input.button{
  margin-bottom: 0px;
}

/*footer_subscribe*/
.footer_subscribe{
  padding: 70px 0 80px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}
.block_subscribe{
  text-align: center;
  margin: auto;
}
.newsletter_form{
  position: relative;
  margin-bottom: 0;
}
.newsletter_form input{
  width: 100%;
}
.block_subscribe h3{
  margin: 0;
}
.block_subscribe p{
  margin-bottom: 20px;
}
.block_subscribe button{
  color: #fff;
}
.block_subscribe button:hover{
  color: #fff;
  width: 100%;
}
/*footer */
.footer {
  background-color: #343434;
  border-top: 1px solid #e7e7e7;
  color: #fff;
}
.footer a{
  color: #fff;
}
.footer span a{
  color: #7b7b7b;
}
.inner_footer{
    padding: 40px 0 50px; 
}

.inner_footer h4{
  border-bottom: 2px solid rgba(204, 209, 217, 0.33);
  padding-bottom: 10px;
  margin: 0px 0px 20px;
}
.main_footer {
  padding: 35px 0;
}

.main_footer .widget {
  padding: 0px 30px;
}

/*copyright*/
.hmztop {
  background-color: #3B3B3B;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 999999999999999;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  position: fixed;
  bottom: -100px;
  right: 1%;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
  border-radius: 2px;
}
.hmztop:hover { background-color: #e2555a !important; }

.footer_logo{
  margin: 40px 0;
}
.copyright .social_icon{
  float: none;
  margin: 20px 0 10px;
}
.copyright{
  text-align: center;
  padding: 5px;
  background-color: #222;
}
.copyright a{
  color: #888;
}
.news_layout .copyright{
  text-align: left;
  padding: 20px;
}
.news_layout .copyright .social_icon{
  float: right;
}
.news_layout .copyright p{
  float: left;
}
.news_layout .copyright .social_icon{
  margin: 0;
}
.copyright p{
  margin: 0;
  font-size: 13px;
}

/*Page*/

.standard_page{
  margin-top: 30px;
}
.standard_page h1, .standard_page h2, .standard_page h3, .standard_page h4, .standard_page h5, .standard_page h6 {
  margin: 15px 0;
}
.content li{
  list-style: none;
}



/*Portfolio Page*/
.main_portfolio_layout .portfolio_post{
  margin-bottom: 20px !important;
}
.main_portfolio_layout .portfolio_post figure img{
  width: 100%;
}
.main_portfolio_layout .post_figure{
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}

.main_portfolio_layout .post_figure img{
  border-radius: 3px;
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
.main_portfolio_layout .post_overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 30px;
  z-index: 9999;
  background: none;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.main_portfolio_layout .post_overlay .hz_share span{
  margin: 0 2px;
}
.main_portfolio_layout .post_overlay a{
  color: #fff;
}
.main_portfolio_layout .post_overlay h6{
  float: left;
  margin: 0;
}
.main_portfolio_layout .post_overlay .hz_share{
  float: right;
}

/*About Me*/
.about_me .about_pic img{
  width: 100%;
}
.about_content{
  padding: 30px;
  display: inline-block;
}
.post_header{
  text-align: center;
  padding: 30px;
  background-color: #fff;
}
.post_header h1{
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0px;
}
.title_divider{
  border-top: 2px solid;
  display: block;
  max-width: 48px;
  margin: 5px auto 0px;
  color: #161616;
}
.inform_about{
  padding: 0px 30px 30px 30px;
}
.about-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
  padding-bottom: 10px;
  position: relative;
}
.about-title::after {
  background: none repeat scroll 0 0 #ddd;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100px;
}
.single-skill p{
  font-weight:700;
}

/*Author List */
.author_list .main_page{
  padding: 0px 30px 30px 30px;
}
.author_list .authorAvatar{
    float: left;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.authorAvatar img{
  width: 100%;
}
.author_list .authorInfo .social_icon{
  float: right;
}
.author_list .social_icon span a{
  background-color: #CCD1D9;
}
.author_list .social_icon a{
  color: #fff;
}
.main_author{
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.main_author:last-child{
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.authordescrption{
  margin: 0;
}
.authorname{
  margin: 0;
}



/*404*/
.not-found-content h1{
  font-size: 170px;
  line-height: initial;
  margin: 0;
  font-weight: 800;
}
.text-center{
  margin-bottom:100px;
}
.back-to-home a{
  font-size:10px !important;
  font-weight: 600;
  letter-spacing:1px;
  text-transform:uppercase;
  background:#CCD1D9;
  color:#fff;
  padding:6px 8px 7px;
  margin-right:5px;
  display:inline-block;
  border-radius:2px;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s
}
.back-to-home a:hover{
  background-color:#00ada7;
  color: #fff;
}


/* switcher */
.switcher {
  position: fixed;
  top: 15%;
  z-index: 1000000000;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -khtml-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.switcher .switcherWrappper {
  position: relative;
}
.switcher .switcher-show-hide {
  background-color: #f23f5f;
  color: #ffffff;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  overflow: hidden;
  position: absolute;
  right: 100%;
  border: none;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -khtml-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  top: 30px;
  padding: 0 !important;
}
.switcher .switcher-show-hide i {
  font-size: 24px;
}

.switcher .switcher-show-hide i {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.switcher .switcherContents {
  background-color: #ffffff;
  padding: 20px;
  width: 231px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -khtml-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.switcher .switcherContents header {
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #f23f5f;
  text-align: center;
}
.switcher .switcherContents header h5 {
  color: #ffffff;
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Open Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
}
.switcherContent {
  padding: 20px 0;
  border-bottom: 1px solid #d1d1d3;
}
.switcherContent .title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
}
.switcherContent:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.switcher.opened {
  right: 0 !important;
}
.switcherContent ul {
  text-align: center;
  margin-top: -5px;
}
.switcherContent ul li {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -khtml-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.switcherContent ul li:last-child {
  margin-right: 0;
}
/* skinsColor */
.skinsColor {
  font-size: 0;
}
.skinsColor ul li {
  width: 29px;
  height: 20px;
  margin-right: 2.5px;
  margin-left: 2.5px;
}
.skinsColor ul li:hover{
    border: 1px solid #eee;
}
/* tempLayout */
.tempLayout ul li,
.theme ul li {
  border: 1px solid #4a454b;
  width: 31%;
  font-size: 12px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #4a454b;
}
.tempLayout ul li:hover,
.theme ul li:hover {
  background-color: #4a454b;
  color: #ffffff;
}
.tempLayout ul .active-layout,
.theme ul .active-layout {
  background-color: #4a454b;
  color: #ffffff;
}
/* theme */
.theme ul li {
  width: 48%;
  color: #4a454b;
}
.theme ul li.theme-dark {
  color: #ffffff;
}
.theme ul li.theme-light {
  color: #4a454b !important;
}
/* patterens */
.patterens ul li {
  width: 22px;
  height: 20px;
  border: 1px solid #d1d1d3;
}
.patterens ul li img {
  width: 100%;
  height: 100%;
  margin-top: -7px;
}
.patterens ul li:nth-child(7n+7) {
  margin-right: 0;
}

/* images */
.images-bg ul li {
  width: 22px;
  height: 20px;
  border: 1px solid #d1d1d3;
}
.images-bg ul li img {
  width: 100%;
  height: 100%;
    margin-top: -7px;
}
.images-bg ul li:nth-child(8n+8) {
  margin-right: 0;
}
/*=============================================================================

Boxed styles

  =============================================================================*/
.body-boxed,
.body-boxed-2 {
  background: #fff 0 0 repeat;
}
.body-boxed .all-wrapper,
.body-boxed-2 .all-wrapper {
  width: 1200px;
  margin: auto;
}
.body-boxed.fixed-header .header,
.body-boxed-2.fixed-header .header {
  width: 1200px;
}
.body-boxed-2 .all-wrapper {
  margin: 40px auto;
}

/*=============================================================================
- Animated styles
=============================================================================*/

.animated .widget, .animated .hz_post, .animated .block_posts, .animated .main_page{
  opacity: 0;
}

body img.hz_appear{
   opacity: 1; 
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; 
}
body img{
  opacity: 0;
}