/*Shopping Page*/
.shopping_page .all_nav{
    border-top: 1px solid #e7e7e7;
}
.shopping_page #primary_nav_wrap ul{
    float:left;
}
.cart_info {
    width: 330px;
    background: #fff;
    padding: 25px;
    position: absolute;
    right: 0;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    z-index: 99999;
    height: 465px;
    overflow: auto;
    overflow-x: hidden !important;
}
.cart_info:after {
    content: "";
    height: 12px;
    background: #fff;
    width: 100%;
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    opacity: 0;
}
.topcart:hover .cart_info {
    opacity: 1;
    visibility: visible;
    margin-top: 12px;
    transition: .4s;
}
.topcart:hover span {
    background: #00ada7;
    color: #fff;
}
.cart_info small {
    color: #444;
    font-size: 13px;
    text-transform: none;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
    margin-bottom: 17px;
    display: table;
}
.cart_info small em {
    font-style: normal;
    color: #00ada7;
}
.header_cart {
    position: relative;
    margin: 20px 0 20px;
}
.header_cart span {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #ededed;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    margin-left: 3px;
    font-size: 13px;
    color: #444;
    cursor: pointer;
    transition: .4s;
    position: relative;
}
.header_cart span:hover {
    background: #00ada7;
    color: #fff;
    transition: .4s;
}
.product_item_cart {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.product_item_cart .product_image{
    float: left;
    width: 80px;
    margin-right: 10px;
    border: 1px transparent solid;
}
.product_item_cart .product_image img{
    width: 100%;
}
.product_item_cart_info h5 {
    font-size: 14px;
    text-transform: none;
    margin: 0 0 5px;
    color: #263241;
}
.product_item_cart_info h5 a {
    color: #263241;
}
.product_item_cart_info h5 a:hover {
    color: #00ada7;
}
.product_item_cart_info p {
    color: #333333;
}
.product_edit_cart a {
    background: #aaaaaa;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}
.product_edit_cart a:hover {
    background: #00ada7;
    color: #fff;
}
.product_total_cart {
    font-size: 15px;
    text-transform: none;
    margin: -10px 0 15px;
}
.product_total_cart ins{
    color: #00ada7;
    text-decoration: none;
}
.cart-btn a {
    background: #00ada7;
    font-size: 11px;
    color: #fff;
    text-transform: none;
    height: 33px;
    padding: 0 17px;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    font-weight: 700;
    text-transform: capitalize;
}
.cart-btn a:first-child {
    background: #263241;
}
.cart-btn a:hover {
    background: #263241;
    color: #fff;
}
.cart-btn a:first-child:hover {
    background: #00ada7;
    color: #fff;
}
.shopping_page .feat-item{
    height: auto;
    max-height: 560;
}
.discount_block ul{
    margin: 0;
}
.discount_block li{
    list-style: none;
    margin: 0px;
}
.discount_content_3 .item_discount{
    text-align: center;
    background: #00ada7;
    position: static;
    left: auto;
    top: auto;
    color: #fff;
    padding: 40px 20px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.discount_content img{
    width: 100%;
    position: relative;
    height: auto;
}
.discount_block ul li a{
    display: block;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.12);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.item_discount h2{
    font-size: 60px;
    margin: 20px 0;
    line-height: 46px;
}
.filters-button-group{
    border: none;
    margin-bottom: 50px !important;
    background: none;
    text-align: center;
    padding:0;
    border-bottom: 1px solid #d6d4d4;
}
.filters-button-group li.button{
    padding: 0 10px;
    font-size: 14px;
    height: inherit;
}
.filters-button-group li p{
    height:inherit;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
.filters-button-group li{
    display: inline-block !important;
    float: none !important;
    border-radius: 0;
}
.filters-button-group li.is-checked,
.filters-button-group li:hover{
    color: #00ada7;
    border-bottom: 2px solid #00ada7;
}
.filters-button-group li.is-checked{
    border-bottom: 2px solid #00ada7;
}
.filters-button-group li.is-checked:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #00ada7 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.product_gallery .product_item{
    float: left;
    width: 23.6%;
    margin-bottom: 20px;
}
.product_gallery li{
    list-style: none;
}
.product_slider_wrapper{
    overflow: hidden;
    background-color: #222;
}
.product_slider_wrapper img{
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.product_slider_wrapper img:hover{
    opacity: 0.8;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
.product_caption_title{
    margin: 0 0 5px 0;
}
section .product_caption{
    padding: 20px;
    text-align: center;
    background-color: #fff;
}
.product_rating{
    display: inline-block;
    font-size: 13px;
    direction: rtl;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}
.product_rating .star{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}
.product_rating .star:before{
    content: "\f006";
    color: #d3d3d3;
}
.product_rating .star.active:before{
    content: "\f005";
    color: #ffcc01;
}
.product_rating .star:hover {
    cursor: pointer;
}
.product_rating .star:hover:before{
    content: "\f006";
    color: #ffcc01;
}
.product_price{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 15px;
}
.product_price ins{
    padding-right: 5px;
    text-decoration: none;
    color: #00ada7;
}
.product_price del{
    opacity: 0.5;
}


.item_colors a {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: #000;
    margin: 0 1px;
}
.item_colors a.active{
    border: 3px solid #00ada7;
}
.item_colors a.black {
    background: #000000;
}

.item_colors a.brown {
    background: #635c63;
}

.item_colors a.red {
    background: #a30014;
}

.item_colors a.darkgrey {
    background: #2f3c4d;
}

.item_colors a.litebrown {
    background: #c3c2c0;
}

.item_colors a.white {
    background: #f2f2f2;
}

.item_colors a.liteblue {
    background: #859cbc;
}

.item_colors a.cream {
    background: #f7d2c2;
}

.item_colors a.yellow {
    background: #c8c258;
}

.color-list a span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #000;
    margin: 0;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.color-list a span.black {
    background: #000000;
}

.color-list a span.brown {
    background: #635c63;
}

.color-list a span.red {
    background: #a30014;
}

.color-list a span.darkgrey {
    background: #2f3c4d;
}

.color-list a span.litebrown {
    background: #c3c2c0;
}

.color-list a span.white {
    background: #f2f2f2;
}

.color-list a span.liteblue {
    background: #859cbc;
}

.color-list a span.cream {
    background: #f7d2c2;
}

.color-list a span.yellow {
    background: #c8c258;
}

.black {
    background: #000000;
}

.brown {
    background: #635c63;
}

.red {
    background: #a30014;
}

.darkgrey {
    background: #2f3c4d;
}

.litebrown {
    background: #c3c2c0;
}

.white {
    background: #f2f2f2;
}

.liteblue {
    background: #859cbc;
}

.cream {
    background: #f7d2c2;
}

.yellow {
    background: #c8c258;
}

.product_main_content section{
    margin-bottom: 40px;
}
section .title_section{
    margin-bottom: 30px;
    text-align: center;
}
.title_section{
    margin-bottom: 20px;
}
.title_section h3{
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0px;
}
.top_rated_products_slider .slide{
    margin: 10px;
}
.top_rated_products_slider .slide img{
    display: block;
    width: 100%;
    height: auto;
}
.brand_clients .slide{
    margin: 3px;
}
.brand_clients .slide img{
    display: block;
    width: 100%;
    height: auto;
}

/*LATEST FROM OUR BLOG*/
.main_our_blog  .hz_post{
    text-align: center;
}
.main_our_blog  .hz_meta_post{
    margin-bottom: 10px;
    margin-top: -5px;
}
.hz_post:hover .hz_thumb_post img {
    opacity: 0.7;
    transition: .4s;
}
.top_rated_products .owl-prev{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    z-index: 9999;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    opacity: 0;
    left: -30px;
    background: url(../img/arr.png) no-repeat 0 0;
}
.top_rated_products .owl-next{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    z-index: 9999;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    opacity: 0;
    right: -30px;
    background: url(../img/arr.png) no-repeat -30px 0;
}
.top_rated_products:hover .owl-prev{
    opacity: 9;
    left: 30px;
}
.top_rated_products:hover .owl-next{
    opacity: 9;
    right: 30px;
}


/*product page*/
.product_preview_slider .product_preview_item img{
    display: block;
    width: 464px;
    height: 391px !important;
}
.product_preview_slider li{
    list-style: none;
}
.product_preview_slider .owl-buttons{
    display: none;
}
.product_preview_slider .owl-pagination{
    display: block;
    text-align: center;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.information_entry .product_header h3{
    margin: 0;
    line-height: 30px;
    font-weight: 400;
}
.information_entry .product_rating {
    margin-bottom: 5px;
    display: table;
}
.information_entry .product_rating .ratings{
    float: left;
}
.product_rating em {
    margin-left: 8px;
    font-size: 12px;
    color: #666666;
    font-style: normal;
}
.product_information .product_price ins{
    font-size: 25px;
    margin-left: 5px;
}
.detail_info_entry p{
    margin: 0 0 3px 0;
}
.detail_info_entry p span{
    color: red;
}
.product_stock a{
    color: #00ada7;
}
.product_select {
    margin-bottom: 10px;
}
.product_select p, .item_colors p{
    font-size: 13px;
}
.product_select select{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
}
.add_cart a{
    height: 31px;
    line-height: 31px;
    background-color: #00ada7;
    padding: 0 15px;
    display: inline-block;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    margin: 8px 0 0;
}
.add_cart a:hover{
    background-color: #263241;
}
.item_colors a:hover{
    opacity: .5;
}
.info_entry_title {
    font-size: 14px;
    color: #313131;
    font-weight: 600;
    margin-right: 5px;
}
.product_share {
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
    padding: 12px 0;
    position: relative;
}
.product_share .hz_icon_shere .hz_share span{
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    margin-right: 3px;
    margin-bottom: 0px;
}
.product_share .hz_icon_shere .hz_share span a{
    display: block;
    border-radius: 2px;
    height: 100%;
    color: #7b7b7b;
}
.product_share .hz_icon_shere .hz_share span a:hover{
    color: #00ada7;
    text-decoration:none
}

.product_share .hz_icon_shere .share_toggle{
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    margin-right: 3px;
    margin-bottom: 0px;
    border-radius: 2px;
}
.product_share .hz_icon_shere .share_toggle i{
    display: block;
    height: 100%;
    line-height: 26px;
    color: #7b7b7b;

}
.product_share .hz_icon_shere .share_toggle:hover{
    color: #00ada7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product_share .hz_icon_shere  .hz_share {
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    margin-right: 8px;
}
.product_share .hz_icon_shere  .hz_share.share_active {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1;
    visibility: visible;
}
.product_share .info_entry_title{
    float: left;
    margin-right: 10px;
}
.hz_br {
    height: 1px;
    background: #cccccc;
    width: 100%;
    margin: 15px 0 12px;
}
.product_information_blocks{
    background-color: #fff;
    padding: 20px;
}
.block_title{
    padding-bottom: 15px;
    border-bottom: 1px #ebebeb solid;
    margin-bottom: 25px;
}
h4.block_title{margin-top: 0;}
.inline_product_entry {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #f0f0f0 solid;
}
.inline_product_entry:last-child{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
.inline_product_entry .product_image{
    width: 55px;
    float: left;
    border: 1px transparent solid;
    margin-right: 10px;
}
.inline_product_entry .product_image:hover, .cart_info .product_image:hover{
    border: 1px #00ada7 solid;
}
.product_sidebar .inline_product_entry img{
    display: block;
    width: 100%;
    height: 55px;
}
.product_sidebar .product_price ins{
    font-size: 16px;
}
.product_sidebar .widget_advertisement{
    margin-top: 20px;
}
.information_entry .product-tab{
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-tab .nav-tabs li a{
    text-transform: uppercase;
    font-size: 13px;
}
/*additional_info*/
#additional_info .hz_label{
    width: 25%;
}
/* Data Table
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
#additional_info .data-table {
    width:100%;
}
#additional_info .data-table th,
#additional_info .data-table td {
    padding:10px;
}
#additional_info .data-table thead {
    background:none;
    border-bottom:1px solid #e5e5e5;
}
#additional_info .data-table thead th {
    font-weight:bold;
    vertical-align:bottom;
    border-right: none;
}
#additional_info .data-table thead th.wrap {
    white-space:normal;
}

#additional_info .data-table tr.odd td,
#additional_info .data-table tr.odd th {
    border-right:1px solid #f5f5f5;
}
#additional_info .data-table tr.odd td.last {
    border-right:none;
}
#additional_info .data-table tr.odd.last {
    border-bottom:#eee solid 1px;
}
#additional_info .data-table tr.even td,
#additional_info .data-table tr.even th {
    border-right:1px solid #f5f5f5;
    border-bottom:none;
}
#additional_info .data-table tr.even td.last {
    border-right:none;
}
#additional_info .data-table tr.even {
    background-color:#fbfbfb;
}
#additional_info .data-table tbody tr.product-shop-row:hover {
    background-color:#fff;
}
#additional_info .data-table tbody.odd td {
    border-width:0 1px;
}
#additional_info .data-table tbody.odd tr.last {
    border-bottom:#e5e5e5 solid 1px;
}
#additional_info .data-table tbody.even {
    background-color:#f5f5f5;
}
#additional_info .data-table tbody.even td {
    border-width:0 1px;
}
#additional_info .data-table th .tax-flag {
    font-weight:normal;
}
.review_customer .customer_name{
    text-transform: capitalize;
    font-weight: 600;
}
.reviews_customer_tab {
    padding: 30px 20px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}
.reviews_customer_tab form{
    margin-bottom: 0;
}
.reviews_customer_tab form label {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
}
.reviews_customer_tab form label span, .reviews_customer_tab form span span{
    color: red;
}
.reviews_customer_tab h5{
    margin-bottom: 0px;
}
.reviews_customer_tab form input {
    border: solid 1px #ccc;
    max-width: 376px;
    width: 100%;
    padding: 10px;
    height: 33px;
}
.reviews_customer_tab form textarea {
    border: solid 1px #ccc;
    width: 100%;
    max-width: 575px;
    height: 214px;
    padding: 10px;
}
.shopping_page .btn-black {
    height: 33px;
    border: none;
    line-height: 33px;
    padding: 0 10px;
    width: inherit;
    display: inline-block;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    margin: 8px 0 0;
    font-weight: 600;
}
.information_entry li.active a{
    border-bottom: none;
}

/*Shopping Cart*/
.cart_information .data-table thead tr, .cart_information .data-table tfoot tr{
    background-color: #f7f7f7;
}
.cart_information .data-table {
    border: 1px solid #dcdcdc;
    background-color: #FFF;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0; border-spacing: 0;
}
.cart_information .data-table thead tr,
.cart_information .data-table tfoot tr {
    background-color: #f7f7f7;
}
.cart_information .data-table thead th,
.cart_information .data-table thead td,
.cart_information .data-table tfoot th,
.cart_information .data-table tfoot td,
.cart_information .cart .totals table th,
.cart_information .cart .totals table td {
    color: #565656;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.cart_information .data-table tbody th,
.cart_information .data-table tbody td {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.cart_information .cart-table tbody th,
.cart_information .cart-table tbody td {
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.cart_information .data-table tbody th.last,
.cart_information .data-table tbody td.last {
    border-right: 1px solid #dcdcdc;
}
.cart_information .data-table tbody tr.last th,
.cart_information .data-table tbody tr.last td {
    border-bottom: 1px solid #dcdcdc;
}
.cart_information .data-table .price {}
.cart_information .data-table .total_price .price,
.cart_information .cart .totals table tfoot td .price,
.cart_information .compare-table .price {
    color: #F5537D;
}
.cart_information .product_image{
    width: 50px;
    display: inline-block;
}
.cart_information .product_image img{
    width: 100%;
}
.button_cart_product_item button{
    margin-top: 0 !important;
    width: inherit;
}
.button_cart_product_item span{
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Lato', Arial, sans-serif;
}
.cart_collaterals .totals span, #discount_coupon_form span{
    margin-left: 5px;
    font-family: 'Lato', Arial, sans-serif;
}
.cart_collaterals .totals{
    float: right;
}
/*========== Data Table ==========*/
.cart_information .data-table {
    width:100%;
}
.cart_information .data-table td{
    margin: 0;
    padding: 10px;
}
.cart_information .data-table th {
    line-height:20px;
    padding:10px 10px 10px 10px;
    font-weight:400;
    text-transform:uppercase;
    font-size:13px;
}
.cart_information .data-table th .tax-flag {
    white-space:nowrap;
    font-weight:normal;
}
.cart_information .data-table td.label,
.cart_information .data-table th.label {
    font-weight:bold;
}
.cart_information .data-table input, data-table select, data-table textarea {
    padding: 4px;
    width: 100%;
    height: 35px;
}
.cart_information .data-table p {
    margin:10px 0;
}
.cart_information .data-table .description {
    margin:10px 0;
}
.cart_collaterals{
    background-color: #fff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
#discount_coupon_form input{
    width: 80%;
    height: 30px;
}
.cart_collaterals h4{
    margin: 0 0 10px 0;
}
.cart_collaterals li{
    list-style: none;
    margin: 0;
}
.hz_cart_discount form{
    margin: 0px;
}
.shopping_cart_checkout{
    margin: 0;
}
.shopping_cart_checkout .btn-black{
    margin-top: 0px;
}
table.shopping_cart_table_total{
    margin-bottom: 34px;
}
.table.shopping_cart_table_total > thead > tr > th,
.table.shopping_cart_table_total > tbody > tr > th,
.table.shopping_cart_table_total > tfoot > tr > th,
.table.shopping_cart_table_total > thead > tr > td,
.table.shopping_cart_table_total > tbody > tr > td,
.table.shopping_cart_table_total > tfoot > tr > td{
    border: 1px solid #ddd !important;
}

/*Bootstrap 3 Media Queries*/

@media (max-width: 992px){
    .discount_content_3 .item_discount {
        padding: 22px 20px;
    }
    .product_gallery .product_item{
        width: 31% !important;
    }
    .logo{
        float: none;
        margin-bottom: 20px;
    }
    .cart_collaterals .totals{
        float: none;
        margin-top: 20px;
    }
    #discount_coupon_form input{
        height: 33px;
    }
}
@media (max-width: 768px){
    .product_gallery .product_item{
        width: 48% !important;
    }
    .logo{
        float: none;
        margin-bottom: 20px;
    }
    #discount_coupon_form input{
        width: 100%;
    }
    .button_cart_product_item button{
        margin-bottom: 10px !important;
    }
}

@media (max-width: 580px){
    .product_gallery .product_item{
        width: 48% !important;
    }
    .logo{
        float: none;
        margin-bottom: 20px;
    }
    .header_cart{
        margin: 17px 0 20px;
    }
    .header_cart span{
        height: 35px;
        line-height: 35px;
    }
}
@media (max-width: 480px){
    .product_gallery .product_item{
        width: 100% !important;
    }
    .logo{
        float: none;
        margin-bottom: 20px;
        width: 165px !important;
    }
    .header_cart{
        margin: 17px 0 20px;
    }
    .header_cart span{
        height: 35px;
        line-height: 35px;
    }
}
